.header
{
    display: flex;
}

.header h1
{
    color: white;
    text-align: left;        

}
.header h1 em
{
    color: red;
    font-weight: bold;
    opacity: 0.6;
}

h2 em
{
    color: red;
    font-weight: bold;
    opacity: 0.6;

}
h2
{
    color: white;
    text-align: center;
}
body
{
   background-color: black;

}


.menu
{
    display: flex;
    color: white;
    text-align: right;
}

.menu li
{
    display: inline;
    margin: auto;
}

#categories
{
    color: red;
}

article
{
    background-color: red;
}


.best_movie img
{
    display: flex;
    text-align: center;
    margin: auto;
}

